.form-group, label {
    display: block!important;
    text-align: left;
}

.form-group > input {
    width: 100%!important;
}

.inValid {
    border-color: #dc3545!important;
    background: #ffc8c8;
}