.Header {
    width: 500px;
    border: solid 1px #000;
    display: flex;
    justify-content: space-between;
}

.title {
    width: 88%;
    margin: auto;
    /* padding: 10px; */
}

.title-1{
    font-size: 26px;
    font-weight: bold;
    color: cornflowerblue;
}

.border-t {
    border-top: 1px solid #cccccc;
}

.navbar {
    background-color: white!important;
    margin-bottom: 20px;
    margin: 0px;
}

.modal-title {
    text-align: left;
}

.btn-outline-primary {
    color: orange!important;
    border: 1px solid orange!important;
    border-radius: 20px!important;
}
.btn-outline-primary:hover {
   background: white!important;
   color: orange!important;
}